<div class="elementTable">
    <div id="filters" class="filters" *ngIf="with_filters">
        <input type="text" placeholder="buscar">
    </div>
    <div id="bodyTable" class="bodyTable">
        <div class="columns">
            <div class="column" *ngFor="let column of columns" [ngClass]="{hide: !column.show}"
                [ngStyle]="{width: column.width}" (click)="orderKey = column.id; reverse = !reverse;">
                <p>{{column.placeholder}}</p>
            </div>
            <div id="actions" class="column" *ngIf="with_actions">
                <p>Acciones</p>
            </div>
        </div>
        <div class="rows"
            *ngFor="let row of rows | orderBy: orderKey: reverse | paginate: { itemsPerPage: 10, currentPage: page }">
            <div class="row_item" *ngFor="let column of columns" [ngClass]="{hide: !column.show}"
                [ngStyle]="{width: column.width}">
                <p>{{row[column.id]}}</p>
            </div>
            <div class="row_item" id="actions" *ngIf="with_actions"></div>
        </div>
    </div>
    <div id="pagination" class="pagination" *ngIf="with_pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
