.elementTable {
    width: 100%;
    height: 100%;
}

.elementTable .filters {
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.elementTable .bodyTable {
    width: 100%;
    height: calc(100% - 96px);
}

.elementTable .bodyTable .columns,
.elementTable .bodyTable .rows {
    width: 100%;
    white-space: nowrap;
}

.elementTable .bodyTable .columns .column.hide,
.elementTable .bodyTable .rows .row_item.hide {
    display: none;
}

.elementTable .bodyTable .columns .column,
.elementTable .bodyTable .rows .row_item {
    display: inline-flex;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid;
}   

.elementTable .bodyTable .columns #actions,
.elementTable .bodyTable .rows #actions {
    width: 200px;
}

.elementTable .pagination {
    width: 100%;
    height: 40px;
    margin-top: 8px;
}
